<div class="row">
<!-- search by category -->

  <nav class="navbar navbar-default" style="background: white;">
    <!-- <div class="container-fluid"> -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search by category: <span class="caret"></span></a>



            <ul ng-model="categorySort" class="dropdown-menu">
              <li><a href="#/" ng-repeat="category in view.arrUnique()" ng-click="categorySort = '{{category}}'">{{category}}</a></li>
            </ul>
          </li>
        </ul>



        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
          </div>
          <button type="submit" class="btn btn-default searchBtn"><i class="material-icons"></i></button>
        </form>
        <form class="navbar-form navbar-right">
        <a type="submit" class="btn btn-default navbar-right btnRight">Checkout</a>
        </form>
      </div><!-- /.navbar-collapse -->
    <!-- </div> -->
    <!-- /.container-fluid -->
  </nav>
  </div>


<!-- products table -->
<div class="row">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th class = "col-xs-3">tea</th>
          <th class = "col-xs-5">Information</th>
          <th class = "col-xs-2">
            <label style="margin: 0px;" class="form-inline" for="sortBy">Quantity</label>
            <select class="form-inline" ng-model="sortBy">
              <option value="None">-- Select --</option>
              <option value="Name">Name</option>
              <option value="Address">Address</option>
            </select>
          </th>
          <th class = "col-xs-2">
            <button type="submit" class="btn btn-default navbar-right btnRight">Add To Bag</button>
          </th>
        </tr>
      </thead>
      <tbody ng-repeat="product in view.products | orderBy:categorySort:true | filter: search">
        <tr>
          <td><img ng-src="{{product.imageUrl}}"/></td>

          <td>
            <h3 ng-model="name">{{product.name}}</h3><br>
            <p><strong>Price:</strong> {{product.price}}</p>
            <p><strong>Caffeine Scale:</strong> {{product.caffeineScale}}</p>
            <p><strong>Ingredients:</strong> {{product.ingredients}}</p>
            <p><strong>Rating:</strong> {{product.rating}}</p>
            <p><strong>In Stock?</strong> {{product.inStock}}</p>
            <p><strong>Categories:</strong></p>
              <ul ng-model="popFizz" ng-repeat="category in product.categories">
                <li class="categoryItem">{{category}}</li>

              </ul>
              <a href="/#/" >{{ view.arrNotU() }}</a>
          </td>
        </tr>
        <tr>

        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">

  <!-- add content here -->
  <div>{{view.products}}</div>
  </div>
</div>
